{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^(@/|\\./|\\.\\./)types(.*)$",
    "^@/(.*)$",
    "^\\.\\./(?!.*\\.(c|le|sc)ss$)",
    "^\\./(?=.*)(?!.*\\.(c|le|sc)ss$)",
    "\\.(c|le|sc)ss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
